button {
  font-size: 24px;
  padding: 10px 30px;
}

button:hover {
  background-color: black;
  color: white;
}

thead {
  color: white;
  background-color: black;
}

tbody > tr:nth-child(odd) {
  background-color: lightgray;
}
