.mother-container {
  max-width: 1200px;
  margin: 30px auto;
}

.row {
  display: flex;
  position: relative;
}

.row1 {
  border-bottom: lightgray solid 0.5px;
  padding-right: 50px;
  justify-content: right;
  align-items: center;
  padding-bottom: 10px;
}

img.blue-logo {
  width: 15%;
  position: absolute;
  left: 50px;
}

a {
  text-decoration: none;
}

a.top-link {
  margin-left: 40px;
  color: lightgray;
}

a.top-button {
  margin-left: 20px;
}

button {
  padding: 10px;
  background-color: #294464;
  color: white;
  border-radius: 8%;
}

img.lady {
  max-width: 100%;
}

.row2 {
  padding: 50px;
  position: relative;
}

.hero-img {
  height: 550px;
  width: 100%;
  background-image: url("images/hero.jpg");
  background-size: cover;
}

.column-lady {
  position: absolute;
  width: 40%;
  left: 125px;
  top: 100px;
  line-height: 1.5rem;
  color: white;
}

button.get-started {
  margin-top: 15px;
  padding: 15px 45px;
}

.overlay {
  /* background: linear-gradient(transparent, rgb(0 0 0 / 50%)); */
  background-color: rgb(0 0 0 / 35%);
  height: 100%;
  width: 100%;
}

h2.lady {
  font-size: 40px;
  line-height: 3rem;
}

.row3 {
  background-color: rgb(0 0 0 / 2%);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.row3-header {
  width: 35%;
  text-align: center;
  line-height: 1.5rem;
  padding-top: 40px;
}

.row3-footer {
  display: flex;
  width: 100%;
}

.column-one-half {
  width: 50%;
  text-align: center;
  padding: 25px 50px 50px;
}

div.row4 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 20px;
}

div.r4c1 {
  padding-right: 200px;
  padding-top: 30px;
}

.r4c2 {
  padding-left: 200px;
  padding-top: 30px;
}

h2.row4 {
  justify-content: left;
}

p.r4c1 {
  align-content: flex-start;
}

div.row5 {
  background-color: #525350;
  display: flex;
  align-items: flex-start;
  height: 350px;
  position: relative;
  padding-top: 90px;
}

div.column-one-fourth {
  width: 25%;
}

img.white-logo {
  width: 110px;
  margin-bottom: 15px;
}

div.r5c3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  height: 100px;
}

div.r5c2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 300px;
  justify-content: left;
  height: 100px;
}

div.r5c1 {
  height: 100px;
  position: relative;
  left: 100px;
}

a.row5 {
  color: white;
  line-height: 2rem;
}

p.row5 {
  color: white;
  line-height: 1.5rem;
}

div.row6 {
  background-color: rgb(0 0 0 / 2%);
}

div.row7 {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 70px;
  width: 30%;
  justify-content: space-around;
}

a.row7 {
  color: gray;
}

h2 {
  font-family: "Tiempos Headline", sans-serif;
}

a,
p {
  font-family: avenir, Arial, Helvetica, sans-serif;
}
